@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Joan', serif;
    margin: 0;
    outline: 0;
}
html{
    font-size: 20px;
}
.page_title{
    display: flex;
    font-size: 1rem;
    font-weight: 100;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.2em;
    gap: 1em;
    max-width: 1200px;
    margin-inline: auto;
}
.books{
    width: 70%;
    max-width: 300px;
    opacity: 1;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}
.search_section{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.5em;
    background: rgb(245, 245, 245);
}
    .search{
        width: 85%;
        font-size: 1.5rem;
        padding: .3em;
        background: transparent;
        border: none;
    }
    .search_button{
        background-image: url(./magnifier.webp);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 3px;
        margin-left: auto;
        margin-right: 15px;
        height: 2.2em;
        width: 2.2em;
        font-size: 1rem;
        cursor: pointer;
        opacity: .5;
    }
.word{
    font-size: 1.8rem;
}
.phonetic_audio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}
.phonetic{
    color: gray;
    font-size: 1.5rem;
}
.play_button{
    width: 2em;
    height: 2em;
    background-image: url(./play.webp);
    background-size: cover;
    display: none;
    cursor: pointer;
}
.synonyms_container{
    display: flex;
}
.synonyms{
    color: rgb(106, 106, 106);
    max-height: 3em;
    overflow: hidden;
    width: 90%;
}
    .synonyms::before{
        content: 'Synonyms: ';
        font-size: 1.2rem;
        color: black;
    }
    .expand_synonyms{
        width: 3em;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(./arrow-down.png);
        filter: invert();
        background-size: contain;
        background-repeat: no-repeat;
        transition: 250ms;
    }
.part_of_speech{
    counter-reset: index;
    font-size: 1.4rem;
    text-decoration: underline;
    padding-bottom: .6em;
}
.definition{
    position: relative;
    margin-left: 1.3em;
    display: block;
    margin-bottom: 15px;
}
    .definition::before{
        position: absolute;
        left: -1.3em;
        counter-increment: index;
        content: counter(index)". ";
        color: gray;
    }
    .contains_more{
        cursor: default;
        color: rgb(52, 52, 142);
    }
    .definition div{
        margin-left: 1em;
        margin-top: .5em;
        color: gray;
        display: none;
        font-size: .8rem;
    }
    .definition p::before{
        content: 'Example: ';
        color: rgb(68, 68, 68);
    }