@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Joan', serif;
    margin: 0;
    outline: 0;
}
html{
    font-size: 20px;
}
.page_title{
    width: 100%;
    display: flex;
    font-size: 1rem;
    font-weight: 100;
    align-items: center;
    padding: 1.3em;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}
.search_section{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.5em;
    background: rgb(245, 245, 245);
    max-width: 500px;
}
    .search{
        width: 85%;
        font-size: 1.5rem;
        padding: .3em;
        background: transparent;
        border: none;
    }
    .search_button{
        background-image: url(./magnifier.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 3px;
        margin-right: .5em;
        height: 2.2em;
        width: 2.2em;
        font-size: 1rem;
        cursor: pointer;
    }
.word{
    font-size: 1.8rem;
}
.phonetic_audio{
    display: flex;
    align-items: center;
    gap: 1em;
}
.phonetic{
    color: gray;
    font-size: 1.5rem;
}
.play_button{
    width: 2em;
    height: 2em;
    background-image: url(./play.png);
    background-size: cover;
    display: none;
    cursor: pointer;
}
.part_of_speech{
    font-size: 1.4rem;
    text-decoration: underline;
}

.definitionsTag div{
    counter-reset: index;
}
.definition{
    position: relative;
    margin-left: 1.3em;
    display: block;
}
.definition::before{
    position: absolute;
    left: -1.3em;
    counter-increment: index;
    content: counter(index)". ";
    color: gray;
}