@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Joan', serif;
    margin: 0;
    outline: 0;
}
html{
    font-size: 20px;
}
.page_title{
    display: flex;
    font-size: 1rem;
    font-weight: 100;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.2em;
    gap: 1em;
    max-width: 1200px;
    margin-inline: auto;
}
.books{
    width: 70%;
    max-width: 300px;
    opacity: .5;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}
.search_section{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.5em;
    background: rgb(245, 245, 245);
}
    .search{
        width: 85%;
        font-size: 1.5rem;
        padding: .3em;
        background: transparent;
        border: none;
    }
    .search_button{
        background-image: url(./magnifier.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 3px;
        margin-right: .5em;
        height: 2.2em;
        width: 2.2em;
        font-size: 1rem;
        cursor: pointer;
    }
.word{
    font-size: 1.8rem;
}
.phonetic_audio{
    display: flex;
    align-items: center;
    gap: 1em;
}
.phonetic{
    color: gray;
    font-size: 1.5rem;
}
.play_button{
    width: 2em;
    height: 2em;
    background-image: url(./play.png);
    background-size: cover;
    display: none;
    cursor: pointer;
}
.definitionsTag div{
    counter-reset: index;
}
    .part_of_speech{
        font-size: 1.4rem;
        text-decoration: underline;
        padding-bottom: .6em;
    }
    .definition{
        position: relative;
        margin-left: 1.3em;
        display: block;
    }
    .definition::before{
        position: absolute;
        left: -1.3em;
        counter-increment: index;
        content: counter(index)". ";
        color: gray;
    }